#iconoLogo{
    max-width: 50px;
    border-radius: 5%;
    animation: bounce2 .5s alternate infinite ease-in;
}



@keyframes bounce2{
  0%{
    transform: rotateX(10deg);
  }
  100%{
    transform: translatey(75deg);
  }


}

.efectoSombra{
   background-color: #0000004d !important;
}

.efectoSombra:hover{
  background-color: #00000023 !important;
  transition: all 300ms ease-in;
}

#botonLogin{
  background-color: white;
  color: rgb(252, 128, 13);
  transition: all 300ms ease-in;
}

.navbar{
  
  background: black;
 
}
.nav-superior{
  color:#da6b10 !important;
  
}
.menu-superior{
  height: 25px;
}
.nav-inferior{
  color: white !important;
  
}

.letra{
  font-size: 30px;
}

.busqueda{
  color: white;
  border: 1px solid white;
}
.btn-outline:hover{
  background-color: #da6b10 !important; 
}

@media (max-width: 992px) {
  #menu {
    display: none;

  }
}


@media (max-width: 792px) {
  #menuInferior {

 display: none;
}
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}
      #burguer { 
        display: block
      }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (min-width: 792px) {
  #burguer {

 display: none;
}
}
